{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Smart Barber</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> 
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}"> 
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}"> 
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">  
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <!-- body -->
   <body>
      <!-- header top section start -->
      <div class="header_top">
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <div class="contact_main">
                <div class="contact_left"> 
                  <div class="call_text"><a href="#"><img src="{% static 'images/call-icon.png' %}"><span class="call_text_left">+254 734 880 872</span></a></div>
                </div>
                <div class="contact_right">
                  <div class="call_text">Make an appointment</div>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="logo"><a href=""><img src="{% static 'images/barber.jpg' %}" width="90px" style="clip-path: circle();"></a></div>
            </div> 
            <div class="col-sm-5"> 
              <div class="contact_main">
                <div class="contact_left">
                  <div class="call_text"><a href="#"><img src="{% static 'images/mail-icon.png' %}"><span class="call_text_left">timohmugendi@gmail.com</span></a></div>
                </div>
                <div class="contact_right">
                  <div class="call_text"><a href="#"><img src="{% static 'images/map-icon.png' %}"><span class="call_text_left">+254 791 417 147</span></a></div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- header top section end -->
      <!-- header section start -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'index' %}">HOME</a>
            <a class="nav-item nav-link" href="{% url 'services' %}">SERVICES</a>
            <a class="nav-item nav-link" href="{% url 'about' %}">ABOUT</a>
            <a class="nav-item nav-link" href="{% url 'pricing' %}">PRICING</a>
            <a class="nav-item nav-link" href="{% url 'contact' %}">CONTACT US</a>
            <a class="nav-item nav-link" href="">STYLES</a>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
              Profile
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Edit profile</a>
              <a class="dropdown-item" href="#">check styles</a>
              <a class="dropdown-item" href="#">Api</a>
            </div>
          </div>
        </div>
        
      </nav>
      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section">
        <section class="slide-wrapper">
          <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div> 
                              </div>
                              <div class="col-md-6">
                                <h1 class="achive_text">Achieve Your Style</h1>
                                <p class="best_text">The best place for your hairstyle</p>
                                <p class="lorem_text">Best barbershop in town. You can’t beat the price and level of service from us! Both give phenomenal cuts and I can’t recommend this shop enough</p>
                                <div class="appointment_bt"><a href="#">Make an appointment</a></div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div> 
                              </div>
                              <div class="col-md-6">
                                <h1 class="achive_text">Achieve Your Style</h1>
                                <p class="best_text">The best place for your hairstyle</p>
                                <p class="lorem_text">Great barber shop. Walked in and they took me immediately without an appointment. Quick haircut, great service and reasonable price. (BN) will get you looking right.</p>
                                <div class="appointment_bt"><a href="#">Make an appointment</a></div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                              </div>
                              <div class="col-md-6">
                                <h1 class="achive_text">Achieve Your Style</h1>
                                <p class="best_text">The best place for your hairstyle</p>
                                <p class="lorem_text">I’ve never been in the same barbershop until I came to this place. They are consistent and very talented in what they do. Highly recommended.</p>
                                <div class="appointment_bt"><a href="#">Make an appointment</a></div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                              </div>
                              <div class="col-md-6">
                                <h1 class="achive_text">Achieve Your Style</h1>
                                <p class="best_text">The best place for your hairstyle</p>
                                <p class="lorem_text">Best haircut I have ever gotten! I have been coming here for a couple years and always get consistently great results. I did not know what I was missing out on before I started coming here.</p>
                                <div class="appointment_bt"><a href="#">Make an appointment</a></div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </section>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="unique_text">The unique story</p>
              <h1 class="years_text">25 Years of Experience</h1>
              <p class="ipsum_text">Living by the road, Nairobis look up towards the stars. The triviality of life, though, is inevitable in such a big city. Here, the days are filled up with walking the same streets, while everyday chores are linked to the Levantine enjoyment in speaking and rituals such as drinking coffee and shaving. Soaps smelling like musk and amber, brushes made of badger hair, razors with mother-of-pearl handles, and steamed towels are all part of that ritual. Movements repeated thousands of times are followed by stories that are unique even when repeated. And as the proper use of the razor is a skill acquired over years, in Nairobi the gift of storytelling is inherited, conveyed from one generation to another, brushed up and nourished. Perhaps, more than anywhere else, this happens in the barbershops of Nairobi</p>
              <div class="read_more_bt"><a href="#">READ MORE</a></div>
            </div>
            <div class="col-md-6">
              <div class="image_2"><img src="{% static 'images/img-2.png' %}"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- about section end -->
      <!-- service section start -->
      <div class="service_section layout_padding">
        <div class="container">
          <h1 class="services_text">Our Services</h1>
          <p class="dolor_text">We specialize in hair services such as basic hair cuts, hair styling, highlights, hair coloring, and hair texturing techniques.</p>
          <div class="service_section_2">
            <div class="row">
              <div class="col-sm-4">
                <div class="image_3"><img src="{% static 'images/img-3.png' %}"></div>
                <h1 class="classic_text">CLASSIC HAIR CUT</h1>
                <p class="consectetur_text">Who thought slit shaves can be this interesting and unique, the scissors are used to balance the outlook on the chins and rear.</p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="#">Read More</a></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="image_3"><img src="{% static 'images/img-4.png' %}">></div>
                <h1 class="classic_text">CLASSIC HAIR CUT</h1>
                <p class="consectetur_text">Who thought slit shaves can be this interesting and unique, the beard smoother is very well involved in doing the balancing of the outlook</p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="#">Read More</a></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="image_3"><img src="{% static 'images/img-5.png' %}"></div>
                <h1 class="classic_text">CLASSIC HAIR CUT</h1>
                <p class="consectetur_text">Most haircuts are faded at the sides, so an easy way to spice up any look is by going straight from short hair to a close shave using x-sharp</p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="#">Read More</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- service section end -->
      <!--discount section start -->
      <div class="discount_section layout_padding">
        <div class="container">
          <div class="discount_bg">
            <div class="row">
              <div class="col-sm-8">
                <h1 class="get_tetx">GET FLAT 25% DISCOUNT</h1>
                <h1 class="every_tetx">ON EVERY SUNDAY OF DECEMBER</h1>
                <h1 class="promo_tetx">USE PROMO CODE: BARBERDIS</h1>
              </div>
              <div class="col-sm-4">
                <div class="image_6"><img src="{% static 'images/img-6.png' %}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- discount section end -->
      <!-- client section start --> 
      <div class="client_section layout_padding">
        <h1 class="client_taital">What Our Customers Say</h1>
        <div class="container">
          <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-6">
                    <div class="alex_bg">
                      <h3 class="alex_text">Alex jorze</h3>
                      <p class="reader_text"> Great place. (BN) and (BN) are super nice guys! Been here too many place, it’s quick, but most importantly it’s good. 100% recommended. Cheers guys</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="alex_bg">
                      <h3 class="alex_text">Sanchez Der</h3>
                      <p class="reader_text">Best haircut I have ever gotten! I have been coming here for a couple years and always get consistently great results. I did not know what I was missing out on before I started coming here</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-6">
                    <div class="alex_bg">
                      <h3 class="alex_text">Brighton Frank</h3>
                      <p class="reader_text">Had my hair cut after booking an appointment online today. Looks great, the barbers were friendly, and I was in and out in 20 minutes. I’ll be returning.</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="alex_bg">
                      <h3 class="alex_text">Stip mark</h3>
                      <p class="reader_text"> Great guys been here already couple of times and very satisfied with the haircut and they do offer a punch card which’s get 9 haircut and 10 one would be free can’t get any better then this.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-6">
                    <div class="alex_bg">
                      <h3 class="alex_text">Tenhug Joe</h3>
                      <p class="reader_text"> Great guys been here already couple of times and very satisfied with the haircut and they do offer a punch card which’s get 9 haircut and 10 one would be free can’t get any better then this.</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="alex_bg">
                      <h3 class="alex_text">Don Bosco</h3>
                      <p class="reader_text"> I have definitely found my new go-to barbershop. I was totally shocked by their affordable offered services. Despite their affordable rate, they still provided their fellow customers a high-quality haircut. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
              <i class="fa fa-long-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- client section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
        <div class="container">
          <h1 class="contact_taital">Contact Us</h1>
          <div class="contact_section_2">
            <div class="row">
              <div class="col-md-6">
                <div class="mail_section">
                  <input type="text" class="mail_text" placeholder="Name" name="text">
                  <input type="text" class="mail_text" placeholder="Email" name="text">
                  <input type="text" class="mail_text" placeholder="Phone Number" name="text">
                  <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                  <div class="send_bt"><a href="#">SEND</a></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="map_text"><img   src="{% static 'images/call-icon-1.png' %}"><span class="call_text_left">+254 791 417 147</span>
                  <div class="map_text"><img src="{% static 'images/mail-icon-1.png' %}"><span class="call_text_left">timohmugendi@gmail.com</span>
                <div class="map_text_1"><img src="{% static 'images/map-icon-1.png' %}"><span class="call_text_left">t is a long established fact that a reader will be distracted by the readable conten</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
      <!-- contact section end -->
      <!-- join us section start -->
      <div class="join_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="member_text">Want To Be A Member? Join Us</h1>
            </div>
            <div class="col-md-6">
              <div class="join_bt"><a href="#">SEND</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- join us section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
        <div class="container">
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li> 
              <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></li>  
              <li><a href="#"><img src="{% static 'images/linkdin-icon.png' %}"></a></li>   
              <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>   
            </ul>
          </div>
          <p class="lorem_ipsum_text">The most successful barbers today know how to build barber clientele using social media. Gone are the days where you could hang a striped pole outside your shop and expect people to walk in. Visit our social media sites for more insight; Facebook, Twitter, LinkedIn and Instagram.</p>
        </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
        <div class="container">
          <p class="copyright_text">Copyright 2022 All Right Reserved By.<a href="https://github.com/Timoh97/SmartBarbz/blob/master/LICENSE">Timothy Mugendi &#10084;&#65039;</a></p>
        </div>
      </div>
      <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="{% static 'js/jquery.min.js' %}"></script>  
   <script src="{% static 'js/popper.min.js' %}"></script>    
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
   <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script> 
   <script src="{% static 'js/plugin.js' %}"></script>    
   <!-- sidebar -->
   <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script> 
   <script src="{% static 'js/custom.js' %}"></script>  
   <!-- javascript --> 
   <script src="{% static 'js/owl.carousel.js' %}"></script>    
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> 
   <script>
     $('#myCarousel').carousel({
            interval: false
        });

        //scroll slides on swipe for touch enabled devices

        $("#myCarousel").on("touchstart", function(event){

            var yClick = event.originalEvent.touches[0].pageY;
            $(this).one("touchmove", function(event){

                var yMove = event.originalEvent.touches[0].pageY;
                if( Math.floor(yClick - yMove) > 1 ){
                    $(".carousel").carousel('next');
                }
                else if( Math.floor(yClick - yMove) < -1 ){
                    $(".carousel").carousel('prev');
                }
            });
            $(".carousel").on("touchend", function(){
                $(this).off("touchmove");
            });
        });
   </script>
   </body>
   </html>
   {%endblock%}